altgraph==0.17
atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
future==0.18.2
geojson==2.5.0
idna==2.10
iniconfig==1.1.1
packaging==20.9
pefile==2019.4.18
pluggy==0.13.1
py==1.10.0
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
pyowm==3.1.1
pyparsing==2.4.7
PySocks==1.7.1
pyTelegram==0.0.1
pyTelegramBotAPI==3.7.6
pytest==6.2.2
pywin32-ctypes==0.2.0
requests==2.25.1
selenium==3.141.0
six==1.15.0
toml==0.10.2
urllib3==1.26.3
